.nav {
  background-color: transparent;
  height: 5rem;
  width: 100%;
  top: 0;
  position: fixed;
  margin-top: 3rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.scrolled {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
  padding-left: 9.7rem;
}

.NavContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.NavItems {
  height: 6rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: "Neue Regrade";
  font-weight: 400;
  font-size: 1.8rem;
  background: #ffffff;

  color: #93002a;
  padding-right: 2rem;
  padding-left: 2rem;
}
